$header_bg : #f2f2f2;
$header_color: #393939;
$header_text_color: #000;
$header_social_link_border_color: #d9bf8f;
$social_link_bg: #e0e0e0;
$header_btn_color: #fff;
$promo_btn_bg: #f09d66;
$gallery_line_bg: #eaeaea;
$discount_bg: #feab12;
$footer_bg: #141414;
$footer_line: #363636;
$footer_link_color: #737373;
$footer_nav_btn: #323031;
$footer_nav_border: #e8e8e8;
